/* global style */
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* body */
* {
    border: 1px solid black;
}



/* style header */

/* style sketchBoard */
.sketchBoard {
    width: 500px;
    height: 500px;
}

/* style footer */