.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

html {
    font-size: 40px;
}

body {
    font-family: 'VT323', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.block1 {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.block1-content {
    gap: 150px;
}

.functions {
    justify-content: center;
}

.functions, .functions-left {
    gap: 20px;
}

.functions-left {
    align-items: center;
}

.title {
    padding-bottom: 50px;
}

.functions-right {
    padding-top: 15px;
}

.sliderDiv {
    justify-content: center;
    gap: 20px;
}

.sliderDiv-content {
    width: 50%;
}

.sliderLable {
    align-items: flex-end;
}

.pixelInfo {
    justify-content: center;
}

.sketchBoard {
    width: 600px;
    height: 600px;
    background-color: antiquewhite;
}

footer {
    justify-content: center;
}