.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

body {
    font-family: 'VT323', Arial, Helvetica, sans-serif;
}

header {
    justify-content: center;
}

h1 {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.block1 {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.block1-content {
    justify-content: center;
    gap: 4rem;
}

.block1-left {
    width: 15rem
}

.functions {
    justify-content: center;
}

.functions, .functions-left {
    gap: 0.5rem;
}

.functions-left {
    align-items: center;
}

.title {
    padding-bottom: 1rem;
}

.functions-right {
    padding-top: 0.5rem;
}

.sliderDiv {
    justify-content: center;
    gap: 0.5rem;
}

.sliderDiv-content {
    width: 50%;
}

.sliderLable {
    align-items: flex-end;
}

.pixelInfo {
    justify-content: center;
}

.sketchBoard {
    width: 15rem;
    height: 15rem;
}

footer {
    justify-content: center;
}